/*
    Document   : app_style.css
    Author     : Dillon Polley
    Description: External style sheet for the application.
*/
* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: gray;
}

/*reset padding for p and hx tags*/
p {
  padding: 0 0 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0 0 0.4em;
}

#main-header {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  color: red;
}
